@use 'sass:list';

$opacity: 25%;
$highlight: rgba(white, $opacity);
$shadow: rgba(black, $opacity);

@function stripe-stops($pairs...) {
  $result: ();
  $last: 0px;
  @each $pair in $pairs {
    $color: list.nth($pair, 1);
    $stop: list.nth($pair, 2);
    $result: list.join($result, [$color $last, $color $stop]);
    $last: $stop;
  }
  @return $result;
}

.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  // background-color: #282c34;
  // background-color: #845;
  background-image: repeating-linear-gradient(45deg, stripe-stops(#734 16px, #845 32px));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.texture1 {
  // background-image: radial-gradient(stripe-stops($shadow 50%, transparent 100%));
  // background-repeat: repeat repeat;
  // background-size: 3px 3px;
  background-image: repeating-linear-gradient(-45deg, stripe-stops($shadow 2px, transparent 5px));
  background-color: transparent;
  backdrop-filter: blur(6px);
  border-color: $shadow;
  border-style: none;
  &:active {
    transform: translateY(1px);
  }
}

button {
  $xpad: .8em;
  $ypad: .6em;
  padding: $ypad $xpad $ypad $xpad;
  border-radius: calc(min($xpad, $ypad) * .8);
  border-color: $shadow;
  border-width: 1px;
  color: white;
  text-shadow: $shadow;
}
